#!/bin/sh

set -e

VERSION=_VERSION_

chown playapps:playapps /usr/share/play/1.2.4/samples-and-tests

case "$1" in
configure)
	update-alternatives --install /usr/bin/play play /usr/share/play/${VERSION}/play 1221000021
esac
